/* src/components/Hero/Hero.scss */
@import '../../styles/__variables';
#hero {
  width: 100%;
  height: 75vh;
  // background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  background: url('../../../public/assets/img/hero-bg.jpg') top center;
  background-size: cover;
  // background: url('/assets/img/hero-bg.jpg');
  // background: url('/assets/img/hero-bg.jpg') center center; 
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 24px;
}

.typed-cursor {
  color: var(--primary);
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: var(--primary);
  // border: 2px solid var(--primary);
  text-decoration: none;

  i {
    margin-left: 5px;
    font-size: 64px;
    transition: transform 0.3s ease;
  }

  &:hover {
    // background: #fff;
    margin-top: 30px;
    i {
    //   transform: translateY(8px);
    }
  }
}

// #hero .btn-get-started:hover {
//   background: #fff;
//   // color: #fff;
//   margin-left: 5px;
//   font-size: 18px;
//   animation: arrow-down 1s;
// }

// #hero .btn-get-started i {
// }

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 36px;
  }
  
  #hero h2 {
    font-size: 20px;
  }
}