/* src/components/Resume/Resume.scss */
@import '../../styles/__variables';
.resume {
    // padding: 60px 0;
  
  .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--primary);
  }
  
  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--primary);
    position: relative;
  }
  
  .resume-item h4 {
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    color: #2c4964;
    margin-bottom: 10px;
  }
  
  .resume-item h5 {
    font-size: 16px;
    background: #eddfce;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    // color: var(--primary);
  }
  
  .resume-item ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .resume-item ul li {
    padding-bottom: 10px;
    list-style: disc;
    color: #222222;
  }
  
  .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid var(--primary);
  }
  
  .resume-item p em {
    color: #777;
  }
  
  .resume-item a {
    color: var(--primary);
    text-decoration: none;
  }
  
  .resume-item a:hover {
    // text-decoration: underline;
  }
} 
  @media (max-width: 768px) {
    .resume {
      padding: 40px 0;
      .resume-title {
        font-size: 22px;
      }
      
      .resume-item h4 {
        font-size: 16px;
      }
      
      .resume-item h5 {
        font-size: 14px;
      }
    }
    
  }
