@import '../../../styles/__variables';

.blog-post {
    padding-top: 80px;
    
    .blog-post-header {
      margin-bottom: 2rem;
      text-align: center;
  
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }
  
      .blog-post-meta {
        color: #666;
        font-size: 0.9rem;
      }
    }
  
    .blog-post-image {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 2rem;
    }
  
    .content {
      font-size: 1.1rem;
      line-height: 1.8;
      color: #333;
      padding: 0 30px
    }
  }

  .blog-post-content {
    background-color: #fff;
    .content {
      p {
        margin-bottom: 1.5rem;
      }
      
      h4 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
  
      article {
        margin: 2rem 0;
      }
    }
  }

.blog-post{
  ul, ol {
    list-style: unset !important;
    margin: unset;
    // padding: unset;
    text-decoration: unset;
    height: fit-content;
    line-height: normal;
    display: flex;
    flex-direction: column;
    padding: 0 30px !important;
     li {
        text-decoration: none;
     }
  }
}