.left-panel,
.right-panel {
  .main-panel {
    .full {
      width: 100% !important;
    }

    .full.main {
      a {
        width: 100%;
        display: flex;

        .blog-info {
          flex-wrap: unset;
          img {
            // width: 60%;
          }
          display: flex;

          .blog-txt {
            background-color: #00102d;
            // width: 40%;
            color: #fff;

            .blog-tag {
              border-color: #fff;
            }

            .separator {
              color: #fff;
            }
          }
          img {
            height: 450px;
          }
        }
      }
    }
  }

  .full {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .full {
    width: 50% !important;
  }
}
